/* RESET BODY */
body {
    padding: 0;
    margin: 0;
    font-family: "Fira Sans";
    font-size: 15px;
    color: #666666;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tbody {
    font-size: 14px;
    color: #666666
}

td {
    padding: 4px 0px;
}

tbody tr:first-child {
    font-size: 15px;
    font-weight: 500;
    color: #333333;
}

tbody tr:first-child td {
    line-height: 30px;
    border-bottom: 3px solid #ff9d00;
}

tbody tr td {
    border-bottom: 1px solid #dddddd;
}

tbody tr:last-child td {
    border: none;
}

h1 {
    font-size: 35px;
    font-weight: 200;
    color: #333333;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-bottom: 20px;
}

h2 {
    font-size: 33px;
    font-weight: 200;
    color: #333333;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-bottom: 18px;
}

h3 {
    font-size: 31px;
    font-weight: 200;
    color: #333333;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-bottom: 16px;
}

h4 {
    font-size: 29px;
    font-weight: 200;
    color: #333333;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-bottom: 14px;
}

h5 {
    font-size: 27px;
    font-weight: 200;
    color: #333333;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-bottom: 12px;
}

h6 {
    font-size: 25px;
    font-weight: 200;
    color: #333333;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    padding-left: 35px;
    margin: 20px 0px;
}

ul li {
    text-indent: -16px;
    padding-left: 10px;
    line-height: 25px;
}

ul li::before {
    content: "• ";
    color: #ff9d00;
    margin-right: 7px;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: "FiraSans;
    src: url("https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
}
