/*@media (max-width : 1600px) {
    .black-box {
        width: 30%;;
    }

    .case-studies-slider .slick-arrow.slick-next {
        right: 8px;
    }
    .case-studies-slider .slick-arrow {
        left: 8px;
        z-index: 10;
    }
    .support-section-slider .slick-arrow.slick-next {
        right: 14px;
    }
    .support-section-slider .slick-arrow {
        left: 14px;
    }
    .brochure {
        width: 270px;
        display: inline-block;
        margin: 0px 35px;
        vertical-align: top;
        cursor: pointer;
    }
    .brochure-image-image {
        background-position: center center !important;
        background-size: 100% !important;
    }
}*/
/* ez 1300px volt*/
@media (max-width : 1600px) {

    #products-header #products-header-text-container-outer {
        width: auto;
    }
    #product-categories-container .product-category .products-container .product {
        width: 29%;
    }
    #product-categories-container .product-category .products-container .product .product-description {
        width: auto;
        padding: 0 30px 0 30px;
    }
    #product-introduction-description {
        padding-right: 30px;
    }
    .product-taxonomy-box {
        width: 45%;
    }
    .brochure {
        width: 240px;
        margin: 0px 20px;
    }
    .brochure-image {
        width: 240px;
        height: 340px;
    }
    #cms-page-conatiner {
        padding: 80px 30px;
        width: auto;
    }
    #cms-page-conatiner-left {
        float: left;
        width: 687px;
    }
    #cms-page-conatiner-right {
        float: left;
        margin-left: 16px;
    }
    .support-section {
        width: auto;
    }
    .support-section-title {
        padding-left: 30px;
    }
    #support-introduction-container {
        padding-left: 30px;
        padding-right: 30px;
        width: auto;
    }
    .black-box,
    .black-box-without-anim {
        /*width: 390px;*/
        width: 30%;
    }
    .support-section-lead {
        padding-left: 30px;
    }
    .support-section-slider {
        padding-left: 30px;
        padding-right: 30px;
    }
    .support-section-slider .slick-arrow {
        left: 15px;
    }
    .support-section-slider .slick-arrow.slick-next {
        right: 15px;
    }
    #case-studies-contaier {
        width: auto;
    }
    .case-studies-slider {
        padding-left: 20px;
        padding-right: 20px;
    }
    .case-studies-slider .slick-arrow.slick-next {
        right: 15px;
    }
    .case-studies-slider .slick-arrow {
        left: 15px;
        z-index: 10;
    }
    .case-studies-category-container .lead{
        padding-left: 30px;
    }
    .case-studies-category-title {
        padding-left: 30px;
    }
    .case-studies-testimonial {
        margin-right: 30px;
        width: 370px;
    }
    #case-studies-testimonials-container {
        width: 87%;
    }
    #case-studies-testimonials-container .slick-arrow {
        left: -75px;
    }
    #case-studies-testimonials-container .slick-arrow.slick-next {
        right: -75px;
    }
    #news-archive-container {
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
    }
    .news-element {
        width: 280px;
    }
    #footer-content-container {
        width: auto;
        padding: 55px 30px;
    }
    .footer-block {
         width: 34%;
    }
    .footer-block.wide {
         width: 32%;
    }
    #copyright #copyright-content {
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width : 1280px) {

    #header-right {
        right: 15px;
    }
    #home-introduction {
        width: auto;
    }
    #home-introduction-left {
        width: 45%;
    }
    #home-introduction-right {
        float: right;
        width: 45%;
    }
    #home-introduction-description {
        padding-right: 30px;
    }
    .news-element {
        width: 22%;
        margin: 0px 12px;
    }
    .news-title {
        height: 50px;
    }
    #download {
        width: 50%;
        margin-right: 0;
    }
    #planning {
        width: 50%;
    }
    #product-categories-container .product-category .product-category-description {
        width: auto;
    }
    .separator {
        width: auto;
    }
    #category-products-container {
        width: auto;
    }
    #category-products-container .product .product-right .product-description {
        padding-right: 30px;
    }
    #category-products-container .product.even .product-right {
        padding-left: 30px;
    }
    .product-taxonomy-box {
        width: 48%;
    }
    .footer-block.wide {
        width: 25%;
    }
}

@media (max-width : 1024px) {

    #header-logo-and-menu-container #header-menu-container #header-menu li .submenu-container .submenu-content .submenu-content-block {
        padding: 0px 21px;
    }
    #home-introduction-left {
        width: 100%;
        float: none;
    }
    #home-introduction-left iframe{
        width: 100%;
    }
    #home-introduction-right {
        width: 100%;
        margin-top: 30px;
    }
    #home-introduction-lead {
        padding-top: 0;
        padding-left: 30px;
    }
    #products-header #products-header-text-container-outer {
        width: 100%;
    }
    #product-categories-container .product-category .products-container .product .product-description {
        width: auto;
        padding: 0 30px;
    }
    #product-categories-container .product-category .products-container .product.wide .product-description {
        width: auto;
    }
    #product-categories-container .product-category .product-category-description {
        width: auto;
        padding: 0 30px;
    }
    #product-categories-container .product-category .products-container .product.wide {
        width: 100%;
        margin: 0;
    }
    #product-categories-container .product-category .products-container {
        margin: 40px 0;
    }
    #category-products-container .product .product-left {
        width: 50%;
    }
    #category-products-container .product .product-right {
        width: 43%;
        padding: 0 30px;
    }
    .product-taxonomy-box-description {
        width: auto;
        padding: 0 15px 0 15px;
    }
    .product-taxonomy-box {
        width: 50%;
        height: 450px;
        margin: 0 0 40px 0;
        display: block;
        float: left;
    }
    #product-introduction {
        width: auto;
    }
    #product-introduction-left {
        float: left;
        width: 40%;
    }
    #product-introduction-right {
        float: right;
        width: 58%;
    }
    #product-options-detail-head-container {
        width: auto;
    }
    #product-price {
        width: auto;
        margin: 80px 20px;
    }
    .product-price-accorditon-item-price {
    	margin-right: 45px;
    }
    #product-price-right {
        width: 48%;
    }
    #product-price-left {
        width: 48%;
    }
    #product-price-description {
        padding-right: 15px;
    }
    #product-case-study-slider {
        height: 965px;
    }
    #product-case-study-slider-container {
        height: 910px;
    }
    .product-case-study-slider-element-right {
        padding: 60px 56px;
    }
    .product-case-study-slider-element {
        height: 860px;
    }
    .product-case-study-slider-element-right .button {
        margin: 0;
    }
    .product-case-study-slider-element-right .lead {
        margin-top: 10px;
    }
    .brochure {
        width: 22%;
        margin: 0px 10px;
    }
    .case-studies-testimonial {
        width: 29%;
    }

    .contact-block.contact-block-title {
        width: 100%;
        margin-right: 0;
    }
    #contact-blocks {
        width: auto;
        padding: 0 30px;
    }

    .black-box,
    .black-box-without-anim {        
        width: auto;
        display: block;
        margin: 0;
    }
    .black-box-title {
        margin-bottom: 0;
    }
    .separator {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #news-archive-left {
        width: 55%;
    }
    #news-archive-right {
        width: 43%;
    }
   #contact {
        height: auto;
    }
    #contact-left {
        float: none;
        width: auto;
        height: 590px;
    }
        #contact-left-block-left {
            width: 50%;
            padding: 30px;
        }
        #contact-left-block-right {
            width: 50%;
            padding: 30px;
        }
    #contact-right {
        float: none;
        width: 100%;
    }
    .contact-block {
        width: 100%;
    }
    .contact-page-team-memeber-box {
        width: auto;
    }
    .contact-page-team-memeber-box-image {
        width: 50%;
    }
    .contact-page-team-memeber-box-data {
        width: 50%;
        padding: 0;
    }
    .contact-page-team-memeber-box-data .lead {
        margin-left: 30px;
        margin-right: 30px;
    }
    .contact-page-team-memeber-box-title{
        margin-left: 30px;
        margin-right: 30px;
    }
    .contact-page-team-memeber-box-description{
        margin-left: 30px;
        margin-right: 30px;
    }
    #case-studies-testimonials-container .slick-arrow {
        left: -50px;
    }
    #case-studies-testimonials-container .slick-arrow.slick-next {
        right: -50px;
    }

}

@media (max-width : 800px) {
	
	#wgbh-container-inner {
		width: auto;
		margin-left: 30px;
		margin-right: 30px;
	}
	
	.wgbh-element {
		width: auto;
		margin-right: 0px;
		margin-bottom: 30px;
		display: block;
	}

    #header-logo-and-menu-container {
        padding-top: 90px;
    }
    #header {
        margin-bottom: 50px;
        margin-bottom: 61px;
    }
    #home-slider .slick-arrow {
        bottom: 10%;
        left: 58%;
    }
    #home-slider .slick-arrow.slick-next {
        bottom: 10%;
        left: 42%;
    }
    #newsletter-form {
        width: auto;
    }
    #product-categories-container .product-category .products-container .product {
        width: 100%;
        display: block;
        margin: 0;
    }
    #category-products-container .product .product-left {
        width: 100%;
        float: none;
    }
    #category-products-container .product .product-right {
        width: auto;
        float: none;
        margin-top: 30px;
    }
    #home-introduction-title {
        padding-left: 30px;
        padding-right: 30px;
    }
    #download-title {
        width: auto;
        padding: 0 10px;
    }
    .download-form-input {
        margin-left: 10px;
        margin-right: 10px;
        width: 90%;
    }
    .product-taxonomy-box {
        margin: 0;
        width: 100%;
        float: none;
    }
    #our-timber-left {
        display: block;
        width: 100%;
        height: 250px;
    }
    #our-timber-right {
        display: block;
        width: 100%;
    }
    #our-timber-right-content {
        width: auto;
    }
    #products-footer #products-footer-logo {
        display: none;
    }
    #product-option-detail-image-left-container {
        float: none;
        width: 100%;
        text-align: left;
    }
    .product-option-detail-content {
        width: auto;
    }
    #product-option-detail-image-right-container {
        float: none;
        width: 100%;
    }
    #product-price-left {
        width: auto;
        float: none;
    }
    #product-price-right {
        width: 100%;
        float: none;
    }
    .brochure {
        width: 40%;
        margin: 0px 10px 30px 10px;
    }
    .brochure-image {
        width: 297px;
        height: 425px;
    }
    #product-price-title {
        padding-left: 30px;
        padding-right: 30px;
    }
    #product-price-description {
        padding-left: 30px;
        padding-right: 30px;
    }
    #product-price-right .lead {
        padding-left: 30px;
    }
    #case-study-detail {
        display: block;
    }
    #case-study-detail-left {
        display: block;
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
    }
    #case-study-detail-right {
        display: block;
        width: 100%;
    }
    #case-study-video-container iframe{
        width: 100%;
    }
    #contact-left {
        float: none;
        width: 100%;
    }
    #contact-right {
        width: 100%;
        margin-bottom: 30px;
    }
    #home-introduction-description {
        padding-left: 30px;
    }
    #home-introduction .btn_120 {
        width: 120px;
        padding: 0;
        margin-left: 30px;
    }
    .news-element {
        width: 100%;
        margin: 0;
    }
    #newsletter-form input[type='text'] {
        width: 220px;
    }
    #footer-content-container {
        width: auto;
        padding: 40px 30px;
    }
    #footer-content {
        text-align: center;
        background-image: none;
    }
    .footer-block {
        width: 100%;
        float: none;
    }
    .footer-block.wide {
        width: auto;
    }
    .footer-block-logo-container {
        margin-top: 40px;
    }
    .footer-block-logo {
        float: none;
        width: auto;
        background-repeat: no-repeat;
        background-position: center;
    }
    .footer-block .lead{
        margin-top: 30px;
        margin-bottom: 25px;
    }
    .footer-block-title {
        margin-bottom: 20px;
    }
    .footer-block-shields-buildings-description {
        line-height: 30px;
    }
    .footer-block-we-are-social-description {
        width: auto;
    }
    .footer-block-we-are-social-tagline {
        width: auto;
    }
    #copyright {
        height: 155px;
        line-height: 22px;
    }
    #copyright #copyright-content {
        width: auto;
    }
    #copyright #copyright-content #copyright-left {
        float: none;
        padding: 30px 30px;
        text-align: center;
    }
    #copyright #copyright-content #copyright-right {
        float: none;
        text-align: center;
    }
    #news-archive-left {
        width: 100%;
        margin-bottom: 30px;
    }
    #news-archive-right {
        width: 100%;
    }
    #case-studies-testimonials-container .slick-arrow {
        left: -41px;
        width: 45px;
        height: 45px;
        background-size: 100%;
    }
    #case-studies-testimonials-container .slick-arrow.slick-next {
        right: -49px;
        width: 45px;
        height: 45px;
        background-size: 100%;
    }
    
    #product-options-detail-head-container {
    	width: auto;
    	margin-left: 30px;
    	margin-right: 30px;
    }
}

@media (max-width : 480px) {

    iframe{
        width: 100%;
    }
    .separator {
        width: auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    #header {
        height: 215px;
        z-index: 1000;
        margin-bottom: 20px;
    }
    #header.float {
        height: 45px;
    }
    #header-left {
        display: none;
    }
    #header-right {
        position: absolute;
        line-height: unset;
        top: 0;
        width: 100%;
        right: 0;
    }
    #header.float #header-right {
        top: 0;
    }
    #header-right .button {
        width: 33% !important;
        border-radius: 0 !important;
        height: auto !important;
        padding: 15px 0 !important;
        line-height: unset !important;
        border-right: 1px #ffb93f solid !important;
        font-size: 13px !important;
        display: inline-block !important;
    }
    #header-right #header-right-newsletter-button{
        padding: 0 25px;
        height: auto;
        width: 33%;
        text-align: center;
        line-height: unset;
        padding: 15px 0;
        font-size: 13px;
        color: #fff;
        background: #333;
        border-left: 1px solid #111111;
        border-right: 1px solid #666666;
        display: inline-block !important;
    }
    
    #header-right .newsletter-icon {
    	display: none !important;
    }
    
    #header-right .brochure-icon {
    	display: none !important;
    }
    
    #header-right .header-right-separator {
        display: none;
    }
    #header-logo-and-menu-container #header-logo {
        background-repeat: no-repeat;
        height: 150px;
    }
    #header-logo-and-menu-container {
        padding-top: 65px;
    }
    #header-logo-and-menu-container #header-menu-container #header-menu li .submenu-container .submenu-content .submenu-content-block {
        height: auto;
    }
    #header-right #header-right-phone-number {
        position: relative;
        display: none;
        width: 100%;
        text-align: center;
        top: 105px;
    }
    #home-slider {
        width: 100%;
    }

/* MOBILE MENU */

	#product-menu.float {
		top: 45px;
	}

    #mobile_menu {
        position: absolute;
        right: 0;
        display: block;
        float: left;
        width: auto;
        height: auto;
        line-height: unset;
        padding: 15px 0;
        font-size: 13px;
        width: 33%;
        text-align: center;
        color: #fff;
        background: #333;
        border-left: 1px solid #111111;
        background-image: url(./images/menu_icon.png);
        background-repeat: no-repeat;
        background-position: 30px 20px;
    }
    #header-logo-and-menu-container #header-menu-container {
        display: none;
        position: absolute;
        top: 45px;
        background: #333;
        z-index: 100;
        width: 100%;
        padding-top: 0;
        padding-bottom: 10px;
        left: 0;
    }
    #header-logo-and-menu-container #header-menu-container #header-menu {
        display: block;
        width: auto;
        height: auto;
        margin-left: 30px;
        margin-right: 30px;
    }
    #header-logo-and-menu-container #header-menu-container #header-menu li {
        float: none;
        border: none;
        width: 100%;
        text-align: left;
        padding: 20px 0;
    }
    #header-logo-and-menu-container #header-menu-container #header-menu li a {
        color: #fff;
    }
    #header-logo-and-menu-container #header-menu-container.active {
        display: block;
        z-index: 1000;
    }
    #header-logo-and-menu-container #header-menu-container #header-menu li{
        display: block;
        line-height: 50px;
        height: auto;
        text-align: left;
        padding: 0;
        border-bottom: 1px solid #444444;
    }
    #header-logo-and-menu-container #header-menu-container #header-menu li:last-child  {
        border: none;
    }
    #header-logo-and-menu-container #header-menu-container #header-menu li .submenu-container {
        position: relative;
        display: none;
    }
    #header-logo-and-menu-container #header-menu-container #header-menu li .submenu-container .submenu-content {
        background: none;
        padding: 0;
    }
    #header-logo-and-menu-container #header-menu-container #header-menu li .submenu-container .submenu-content .submenu-content-block .submenu-content-block-title {
        color: #fff;
    }
    #header-logo-and-menu-container #header-menu-container #header-menu li .submenu-container .submenu-content .submenu-content-block .submenu-content-block-item {
        color: #fff;
        padding-left: 20px;
        text-transform: unset;
    }
    #header-logo-and-menu-container #header-menu-container #header-menu li .submenu-container .submenu-content .submenu-content-block {
        padding: 0px 25px;
        line-height: 35px;
        border: none;
    }
    #header-logo-and-menu-container #header-menu-container #header-menu li .submenu-container a {
        background: none;
    }
    #header-logo-and-menu-container #header-menu-container #header-menu li > a.active, #header-logo-and-menu-container #header-menu-container #header-menu li > a:hover, #header-logo-and-menu-container #header-menu-container #header-menu li:hover > a {
        color: #fff;
        border-bottom: none;
    }
    #header-logo-and-menu-container #header-menu-container #header-menu li > a.active, #header-logo-and-menu-container #header-menu-container #header-menu li > a:hover {
        border: none;
    }
    .path{
        display: block !important;
        background-image: url('./images/menu_closed.png');
        float: right;
        width: 40px;
        background-repeat: no-repeat;
        background-position: 25px 25px;
    }
    .path.closed{
        background-image: url('./images/menu_closed.png');
    }
    .path.opened{
        background-image: url('./images/menu_opened.png');
    }
    #header-logo-and-menu-container #header-menu-container #header-menu li .submenu-container.active {
        display: block;
        position: static;
    }
    #header-logo-and-menu-container #header-menu-container #header-menu li .submenu-container.inactive {
        display: none;
    }

/* MOBILE MENU END */

    .home-text-container {
        top: 480px;
        background: rgba(255, 255, 255, 0.9);
        width: 100%;
        padding: 0;
    }
    .home-slider-element {
        width: 100%;
       /* height: 100%;*/
        float: left;
        position: relative;
        height: 830px;
    }
    .home-slider-image{
        background-position-x: center;
        background-position-y: top;
        /*background-size: 450%;*/
        background-repeat: no-repeat;
        position: absolute;
    	height: 480px;
    }
    .home-text-title {
        font-size: 35px;
        padding: 0 30px;
        margin-bottom: 10px;
    }
    .home-text-description {
        font-size: 15px;
        line-height: 33px;
        padding: 0 30px;
        margin-bottom: 10px;
    }
    #home-slider .slick-arrow {
        display: none !important;
    }
    #home-introduction {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 0;
    }
    #home-introduction-left {
        width: 100%;
        height: auto;
        float: none;
    }
    #product-introduction-left {
        float: none;
        width: 100%;
    }
    #home-introduction-right {
        float: none;
        width: 100%;
    }
    #home-introduction-lead {
        padding: 0 30px;
        margin-top: 30px;
    }
    #home-introduction-title {
        padding: 0 30px;
    }
    #home-introduction-description {
        padding: 0 30px;
    }
    #home-introduction .button{
        margin-left: 30px;
        margin-bottom: 40px;
    }
    .black-boxes-container {
        width: 100%;
        margin: 0 0 30px 0;
    }
    .black-box,
    .black-box-without-anim {        
        width: 100%;
        margin: 0;
    }
    .black-box-image-container {
        height: 310px;
    }
    .black-box-lead {
        padding-top: 40px;
        margin-bottom: 20px;
    }
    .black-box-title {
        margin-bottom: 20px;
    }
    .black-box-description {
        margin: 0 30px 25px 30px;
    }
    .black-box .button,
    .black-box-without-anim .button {        
        margin-bottom: 40px;
    }
    #products-footer {
        margin: 0px 0px 40px 0px;
    }
    #products-footer #products-footer-logo {
        margin-bottom: 30px;
    }
    #products-footer #products-footer-title {
        margin-left: 30px;
        margin-right: 30px;
    }
    #products-footer #products-footer-description {
        line-height: 30px;
        margin-bottom: 20px;
        padding: 0 30px;
    }
    #products-footer .button {
        margin-bottom: 0px;
    }
    #download-and-planning-permission-area {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 0;
    }
    #download {
        display: block;
        width: 100%;
        height: auto;
        padding-bottom: 15px;
    }
    #download-and-planning-permission-area .yellow-scratch-background {
        background: #ff9b00;
    }
    #download-lead {
        padding-top: 40px;
    }
    #download-title {
        width: 100%;
    }
    #download-title-left {
        float: none;
    }
    #download-title-right {
        width: auto;
        text-align: center;
        float: none;
        font-size: 30px;
        padding: 0 40px 0 40px;
        margin-top: 25px;
    }
    #download-form {
        width: auto;
        padding: 0 30px;
    }
    #planning {
        width: 100%;
        height: auto;
        padding-bottom: 15px;
    }
    #planning-title {
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 271px;
    }
    #planning-description{
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
        height: auto;
        margin-bottom: 20px;
    }
    #featured-items-left {
        float: none;
        width: 100%;
        border-right: none;
    }
    #featured-items-right {
        float: none;
        width: 100%;
        padding: 40px 30px 40px 30px;
    }
    .featured-item{
        margin-bottom: 50px;
    }
    .featured-item-description {
        margin-bottom: 30px;
    }
    #news-container{
        margin-bottom: 15px;
    }
    #news-container.lead {
        margin-bottom: 20px;
    }
    #news-title {
        margin-bottom: 35px;
    }
    #news-description {
        margin-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    #newsletter {
        background-color: #f1f1f1;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #newsletter .yellow-scratch-background {
        background: #ff9b00;
    }
    #newsletter-title {
        width: 90%;
        margin-bottom: 25px;
    }
    #newsletter-description {
        margin: 0 30px 30px 30px;
    }
    #newsletter-form {
        width: auto;
        padding: 40px 30px 10px 30px;
        height: auto;
        margin: 0 30px;
    }
    #newsletter-form input[type='text'] {
        display: block;
        margin-bottom: 15px;
        width: 240px;
    }
    #news-archive-left {
        float: none;
        width: auto;
        padding: 30px 30px 0 30px;
    }
    .news-block-title {
         margin-bottom: 15px;
     }
    .news-block .separator {
        margin-bottom: 30px;
    }
    #news-archive-right {
        width: auto;
        float: none;
        padding: 30px;
    }
    #newsletter-modal-content{
        width: auto;
        margin-top: 130px;
    }
    #newsletter-modal-title {
        font-size: 25px;
    }
    .newsletter-download-form-row .button{
        text-align: center;
        margin-bottom: 0;
    }
    .newsletter-download-form-row-input {
        width: 100%;
    }
    #brochures-container {
        text-align: center;
        margin-top: 0;
    }
    .brochure-image img {
        border-radius: 5px;
        -webkit-box-shadow: 0px 10px 11px -2px rgba(0,0,0,0.36);
        -moz-box-shadow: 0px 10px 11px -2px rgba(0,0,0,0.36);
        box-shadow: 0px 10px 11px -2px rgba(0,0,0,0.36);
    }
    #brochure-download-modal-content {
        width: auto;
        margin-top: 40px;
    }
    .brochure-download-form-row-input {
        width: 100%;
    }
    .brochure-download-form-row-select {
        width: 100%;
        margin-bottom: 20px;
    }
    #brochures {
        padding-top: 0;
        padding-bottom: 50px;
    }
    #brochures-lead {
        text-align: center;
        background: url(./images/transp_top_bg.png);
        background-repeat: no-repeat;
        background-size: 100%;
        padding-top: 30px;
    }
    #brochures-description {
        line-height: 30px;
    }
    .brochure {
        width: auto;
        margin-top: 40px;
        margin-left: 30px;
        margin-right: 30px;
        display: block;
    }
    .brochure .lead{
        margin-bottom: 25px;
    }
    .brochure-image-cover {
        border-radius: 5px;
        opacity: 0;
    }
    .brochure-image {
        margin-bottom: 55px;
        width: auto;
        height: 499px;
    }
    .brochure-image-image {
        background-position: center center !important;
        background-size: auto 100% !important;
        background-repeat: no-repeat !important;
    }
    .brochure-title {
        margin-bottom: 20px;
    }
    #brochures-download-area {
        margin-left: 30px;
        margin-right: 30px;
    }
    #brochures-download-area .lead{
        margin-bottom: 20px;
    }
    #brochures-download-area-description {
        line-height: 25px;
    }
    #brochures-download-area-inputs {
        margin-bottom: 25px;
    }
    #brochures-download-area-inputs input {
        width: 100%;
        display: block;
        margin: 0 0 20px 0;
    }
    #cms-page-image {
        height: 480px;
    }
    #cms-page-conatiner {
        padding: 30px 0 0 0;
        width: auto;
    }
    #cms-page-conatiner-left {
        float: none;
        width: auto;
        padding: 30px 30px;
    }
    .cms ul li {
        padding-right: 30px;
    }
    #cms-page-conatiner-right {
        float: none;
        width: auto;
        margin-left: 0;
    }
    #cms-page-conatiner-right #download-and-planning-permission-area #download {
        margin-bottom: 0;
    }
    #products-header {
        height: 570px;
    }
    #products-header #products-header-text-container-outer {
        width: 100%;
    }
    #products-header #products-header-text-container-outer #products-header-text-container {
        padding: 0;
        width: 100%;
        height: 100%;
    }
    #products-header #products-header-text-container-outer #products-header-text-container #products-header-text-lead {
        padding-top: 30px;
        padding-left: 30px;
    }
    #products-header #products-header-text-container-outer #products-header-text-container #products-header-text-title {
        padding-left: 30px;
        padding-right: 30px;
    }
    #products-header #products-header-text-container-outer #products-header-text-container #products-header-text-subtitle {
        margin-left: 30px;
        margin-right: 30px;
    }
    #products-header #products-header-text-container-outer #products-header-text-container #products-header-text-content {
        margin-left: 30px;
        margin-right: 30px;
    }
    #product-categories-container {
        width: 100%;
    }
    #product-categories-container .product-category .products-container {
        margin-bottom: 40px;
    }
    #product-categories-container .product-category .products-container .product.wide {
        width: auto;
        padding: 0;
    }
    #product-categories-container .product-category .products-container .product.wide .product-description {
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
    }
    .product-category{
        width: 100%;
    }
    #product-categories-container .separator {
        width: auto;
        margin-top: 40px;
        margin-bottom: 30px;
    }
    #product-categories-container .product-category .product-category-title {
        margin-left: 30px;
        margin-right: 30px;
    }
    #product-categories-container .product-category .product-category-description {
        width: auto;
        padding-left: 30px;
        padding-right: 30px;
    }
    #product-categories-container .product-category .products-container .product {
        width: 100%;
        margin: 0;
    }
    #product-slider {
        height: 100%;
    }
    #product-slider-container {
        height: 495px;
    }
    #product-slider-text-container {
        width: auto;
    }
    #product-slider-text-container .lead {
        margin-bottom: 5px;
    }
    .product-slider-element {
        height: 480px;
    }
    #product-menu {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-top: 0px
    }
    #product-menu li {
        display: block;
        padding-right: 5px;
        padding-left: 5px;
    }
    #product-menu li a {
        height: 35px;
    }
    #product-introduction {
        width: 100%;
        margin-bottom: 30px;
    }
    #product-introduction-right {
        float: none;
        width: 100%;
        margin-bottom: 30px;
    }
    #product-introduction-right .lead {
        margin-left: 30px;
    }
    #product-introduction-title {
        margin-left: 30px;
        margin-right: 30px;
    }
    #product-introduction-description {
        padding-left: 30px;
        padding-right: 30px;
    }
    .product-taxonomy-box {
        width: auto;
        height: auto;
        margin: 0;
        padding: 0 30px 0 30px;
    }
    .product-taxonomy-box-description {
        width: auto;
    }
    .product-taxonomy-box-center .button{
        margin-bottom: 40px;
    }
    .product-taxonomy-box form {
        width: auto;
    }
    .product-price-accorditon-item-name {
        float: none;
        width: 80%;
        height: auto;
    }
    .product-price-accorditon-item-price {
        float: none;
        margin-left: 15px;
    }
    .product-price-accorditon-item-title {
        height: auto;
        line-height: 30px;
        padding: 10px 0 10px 0;
    }
    #product-taxonomy-boxes-container {
        margin-bottom: 40px;
    }
    #our-timber {
        display: block;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #our-timber-left {
        display: block;
        height: 260px;
        width: 100%;
    }
    #our-timber-right {
        display: block;
        width: 100%;
    }
    #our-timber-right-content {
        padding: 30px 0 0 0;
        width: 100%;
    }
    #our-timber-lead {
        color: #ffffff;
        margin-left: 30px;
    }
    #our-timber-title {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 10px;
    }
    #our-timber-description {
        padding: 0 30px 30px 30px;
    }
    #product-options-detail-head-container {
        width: auto;
    }
    #product-options-detail {
        margin-bottom: 30px;
    }
    #product-options-detail-images {
        height: 100%;
    }
    #product-option-detail-image-left-container {
        float: none;
        width: 100%;
        text-align: unset;
        margin-bottom: 30px;
    }
    .product-option-detail-content {
        width: auto;
    }
    #product-option-detail-image-right-container {
        float: none;
        width: 100%;
    }
    #wgbh{
        width: 100%;
    }
    #wgbh-container{
        padding-top: 30px;
        padding-bottom: 15px;
    }
    .wgbh-element {
        width: 100%;
        margin: 0;
    }
    #product-price {
        width: 100%;
        margin: 30px 0 0 0;
    }
    #product-price-left {
        float: none;
        width: 100%;
    }
    #product-price-right {
        float: none;
        width: auto;
        padding: 30px;
    }
    #product-case-study-slider-container {
        height: 460px;
        margin-bottom: 0;
    }
    #product-support-left {
        width: auto;
        margin: 0;
        padding: 30px;
    }
    #product-support {
        margin-bottom: 0;
    }
    #product-support-right {
        width: 100%;
    }
    #product-support-right form {
        padding: 30px;
    }
    #category-products-container{
        width: 100%;
        margin-top: 30px;
    }
    #category-products-container .product .product-left {
        float: none;
        width: 100%;
        height: 250px;
    }
    #category-products-container .product .product-right {
        float: none;
        width: auto;
        padding: 30px 30px 0 30px;
    }
    #category-products-container .separator {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    #product-options {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #product-options-left {
        width: auto;
        padding: 30px;
        margin: 0;
    }
    #product-options-right {
        width: auto;
    }
    #product-case-study-slider .slick-arrow {
        position: absolute;
        top: 325px;
    }
    #case-studies {
        padding-top: 0;
        padding-bottom: 0;
    }
    #case-studies-lead {
        padding-top: 40px;
        /*background-image: url(images/transp_top_bg.png);*/
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #case-studies-contaier {
        width: 100%;
        padding-bottom: 40px;
    }
    #case-studies-testimonials-container .slick-arrow {
        left: -47px;
    }
    #case-studies-testimonials-container .slick-arrow.slick-next {
        right: -47px;
    }
    .case-study {
        padding: 30px;
    }
    .slick-list .case-study .case-study-lead{
        padding-left: 0;
    }
    #case-studies-description {
        padding-left: 30px;
        padding-right: 30px;
    }
    .case-studies-slider {
        height: auto;
        margin-bottom: 30px;
    }
    .case-studies-slider .slick-arrow {
        left: 0;
        z-index: 10;
    }
    .case-studies-slider .slick-arrow.slick-next {
        right: 0px;
    }
    .case-studies-category-container {
        margin-top: 30px;
    }
    .case-studies-category-container .lead {
        margin-left: 0;
        padding-left: 30px;
    }
    .case-studies-category-title {
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 0;
    }
    #case-studies-testimonials {
        width: auto;
        margin-top: 0;
        padding: 30px;
        margin-bottom: 0;
    }
    #case-studies-testimonials-lead {
        margin-left: 0;
    }
    #case-studies-testimonials-container {
        margin-top: 30px;
    }
    .case-studies-testimonial {
        width: auto;
        margin-right: 0;
        margin-bottom: 30px;
    }
    #case-study-slider {
        height: 480px;
    }
    .case-study-slider-element{
        height: 480px;
    }
    #case-study-detail-left {
        display: block;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 40px;
        width: 100%;
    }
    #case-study-detail-right {
        display: block;
        padding-left: 30px;
        padding-right: 30px;
        width: 100%;
    }
    #contact {
        height: auto;
        margin-bottom: 30px;
    }
    #contact-left {
        float: none;
        width: 100%;
        padding: 0;
        height: 1040px;
    }
    #contact-left-block-left {
        width: 100%;
    }
    #contact-left-block-right {
        width: 100%;
        height: auto;
    }
    #contact-right {
        float: none;
        height: 590px;
        width: 100%;
    }
    #contact-blocks {
        width: 100%;
        padding: 0;
    }
    #contact-blocks .lead {
        margin-left: 30px;
    }
    #contact-blocks-container{
        padding: 0;
    }
    .contact-block {
        width: auto;
        padding: 0 30px 0 30px;
        display: block;
    }
    .contact-block textarea {
        width: 100%;
    }
    .contact-block.contact-block-center {
        margin-right: 0;
    }
    .contact-block.contact-block-title {
        padding-bottom: 30px;
        padding-bottom: 30px;
        margin-right: 0;
        width: auto;
    }
    #contact-block-submit-left {
        float: none;
    }
    #contact-block-submit-right {
        float: none;
        margin-top: 30px;
    }
    .contact-page-team-memeber-box-image {
        width: 100%;
    }
    .contact-page-team-memeber-box-data {
        width: 100%;
        margin-top: 30px;
    }
    #news-archive-container {
        width: auto;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
    }
    #news-pagination {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    #support-section-container {
        padding-top: 0;
        background: none;
    }
    .support-section {
        width: 100%;
        height: 642px;
    }
    .support-section-slider-element {
        margin: 0;
    }
    .support-section-slider-element-image-container {
        margin-bottom: 30px;
    }
    .support-section-slider-element-lead {
        margin-bottom: 20px;
    }
    .support-section-slider-element-description {
        line-height: 35px;
        height: 115px;
        height: 115px;
        overflow: hidden;
    }
    #support-lead {
        background-image: url(images/transp_top_bg.png);
        padding-top: 40px;
        margin-bottom: 20px;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    #support-slider {
        height: 480px;
        overflow: hidden;
    }
    #support-title {
        margin-bottom: 45px;
    }
    #support-introduction-container {
        padding-top: 40px;
        padding-left: 30px;
        padding-right: 30px;
        width: auto;
    }
    #support-introduction-description {
        column-count: 1;
    }
    .support-section-lead {
        margin-left: 30px;
    }
    .support-section-title {
        margin-left: 0;
        margin-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .support-section-slider-element-title {
        margin-bottom: 15px;
    }
    .support-section-slider .slick-arrow.slick-next {
        top: 485px;
        /*left: 185px;*/
        right: 33%;
    }
    .support-section-slider {
        height: 460px;
        padding-right: 30px;
        padding-left: 30px;
    }
    .support-section-slider .slick-arrow{
        top: 485px;
        /*left: 115px;*/
        left: 33%;
    }
}
