/*
    Theme name: Shields Buildings
*/

/* CLEAR */
.clear {
    display: block;
    content: '';
    clear: both;
}

.slick-track * {
    outline: none !important;
}

/* BUTTON */
.button {
    height: 46px;
    line-height: 46px;
    background: #4f745f;
    border-radius: 4px;
    display: inline-block;
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 25px;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Fira Sans" !important;
}

h1 h2 h3{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.btn_92{
    width: 92px;
    padding: 0;
}

.btn_120{
    width: 120px;
    padding: 0;
}
.btn_140{
    width: 140px;
    padding: 0;
}
.btn_160{
    width: 160px;
    padding: 0;
}

.btn_180{
    width: 180px;
    padding: 0;
}

.btn_200{
    width: 200px;
    padding: 0;
}

.button.orange {
    background: #ff9c00;
}

.button.gray {
    background: #3a3a3a;
}

.button.padding-25 {
    padding: 0 25px;
}

.button.padding-37 {
    padding: 0 37px;
}

.button.padding-41 {
    padding: 0 41px;
}

.button.padding-53 {
    padding: 0 53px;
}

/* CMS CONTENTS */
.cms {
    font-size: 15px;
    color: #666666;
}

.cms table {
    width: 100%;
    border-collapse: collapse;
}

.cms tbody {
    font-size: 14px;
    color: #666666
}

.cms td {
    padding: 4px 0px;
}

.cms tbody tr:first-child {
    font-size: 15px;
    font-weight: 500;
    color: #333333;
}

.cms tbody tr:first-child td {
    line-height: 30px;
    border-bottom: 3px solid #ff9d00;
}

.cms tbody tr td {
    border-bottom: 1px solid #dddddd;
}

.cms tbody tr:last-child td {
    border: none;
}

.cms h1 {
    font-size: 35px;
    font-weight: 200;
    color: #333333;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-bottom: 20px;
}

.cms h2 {
    font-size: 33px;
    font-weight: 200;
    color: #333333;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-bottom: 18px;
}

.cms h3 {
    font-size: 31px;
    font-weight: 200;
    color: #333333;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-bottom: 16px;
}

.cms h4 {
    font-size: 29px;
    font-weight: 200;
    color: #333333;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-bottom: 14px;
}

.cms h5 {
    font-size: 27px;
    font-weight: 200;
    color: #333333;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-bottom: 12px;
}

.cms h6 {
    font-size: 25px;
    font-weight: 200;
    color: #333333;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-bottom: 10px;
}

.cms ul {
    list-style: none;
    padding: 0;
    padding-left: 35px;
    margin: 20px 0px;
}

.cms ul li {
    text-indent: -16px;
    padding-left: 10px;
    line-height: 25px;
}

.cms ul li::before {
    content: "• ";
    color: #ff9d00;
    margin-right: 7px;
}

.cms img {
    max-width: 100%;
}

/* IMG FIT */
.img-fit {
    position: relative;
    overflow: hidden;
}

.img-fit img {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
}

/* TEXT CLASSES */
.lead {
    font-size: 13px;
    color: #ff9900;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-size: 15px;
}

.lead.black {
    color: #3a3a3a;
}

/* SEPARATOR */
.separator {
    height: 43px;
    position: relative;
    text-align: center;
    width: 1260px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 75px;
}

.separator::before {
    position: absolute;
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #d2dbd6;
    top: 21px;
    z-index: -1;
}

.separator .separator-logo-container {
    display: inline-block;
    background: #ffffff;
    padding: 0 10px;
}

.separator .separator-logo-container .separator-logo {
    background: url("./images/product-separator-logo.png");
    width: 39px;
    height: 43px;
}

/* BLACK BOXES */
.black-boxes-container {
    text-align: center;
    font-size: 0px;
}

.black-box,
.black-box-without-anim {
    width: 500px;
    display: inline-block;
    background: #333333;
    margin: 0 10px;
    vertical-align: top;
    box-sizing: border-box;
}

.black-box-orange-line {
    height: 8px;
    background: #333333;
    transition: all 0.15s linear;
    margin-top: 0px;
}

.black-box:hover .black-box-orange-line {
    background: #ff9900;
    margin-top: 40px;
}

.black-box-image-container {
    height: 430px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all 0.15s linear;
}

.black-box:hover .black-box-image-container {
    height: 390px;
}

.black-box-lead {
    padding-top: 45px;
}

.black-box-title {
    font-size: 20px;
    color: #ffffff;
    font-weight: 200;
    margin-bottom: 15px;
}

.black-box-description {
    font-size: 15px;
    color: #b9b9b9;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 15px;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 20px;
}

.black-box-description.height-auto {
    height: auto;
}

/* OTHER CLASSES */
.yellow-scratch-background {
    background: url("./images/bg-right-top-edge.png") no-repeat right top, url("./images/bg-left-bottom-edge.png") no-repeat left bottom, #ffb04f;
}

/* RESET BODY */
body {
    padding: 0;
    margin: 0;
    font-family: "Fira Sans";
    font-weight: 300;
}

/* HEADER */
#header-helper {
    height: 200px;
    display: none;
}

#header-helper.float {
    display: block;
}

#header {
    position: relative;
    height: 200px;
}

#header.float {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999999;
    background: #ffffff;
    height: 70px;
}

#header.float #header-left {
    height: 70px;
    line-height: 70px;
}

#header.float #header-logo-and-menu-container {
    padding-top: 0px;
}

@media (max-width: 1600px) {

    #header.float #header-logo-and-menu-container {
        float: right;
        margin-right: 420px;
    }

}

@media (max-width: 1260px) {

    #header.float #header-right .brochure-icon {
        display: inline-block;
    }

    #header.float #header-right .newsletter-icon {
        display: inline-block;
    }

    #header.float #header-right .brochure-link {
        display: none;
    }

    #header.float #header-right .newsletter-link {
        display: none;
    }

    #header.float #header-logo-and-menu-container {
        margin-right: 280px;
    }

}

@media (max-width: 1100px) {

    #header.float {
        height: 110px;
    }

    #header.float #header-logo-and-menu-container {
        float: none;
        margin: 0 auto;
        margin-top: 50px;
    }

    #header.float #header-logo-and-menu-container #header-menu-container #header-menu li {
        padding: 0px 5px;
    }

    #header.float #header-logo-and-menu-container #header-menu-container #header-menu li a {
        font-size: 12px;
    }

}

#header.float #header-logo {
    display: none;
}

#header.float #header-right {
    top: 10px;
}

#header-left {
    position: absolute;
    left: 30px;
    top: 0;
    height: 90px;
    line-height: 90px;
}

#header-left a {
    text-decoration: none;
    color: #666666;
}

#header-left img {
    vertical-align: middle;
}

#header-left span {
    font-size: 13px;
    font-weight: 500;
    vertical-align: middle;
    margin-left: 10px;
}

#header-right {
    position: absolute;
    right: 30px;
    top: 30px;
    height: 46px;
    line-height: 46px;
}

#header-right .brochure-icon {
    width: 26px;
    height: 26px;
    background: url("./images/brochure.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4px;
    display: none;
}

#header-right .newsletter-icon {
    width: 26px;
    height: 26px;
    background: url("./images/newsletter.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4px;
    display: none;
}

#header-right .header-right-element {
    float: left;
}

#header-right .header-right-separator {
    float: left;
    display: block;
    height: 24px;
    width: 1px;
    margin: 0px 20px;
    background: #dddddd;
    margin-top: 11px;
}

#header-right #header-right-newsletter-button {
    font-size: 15px;
    color: #ff9900;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

#header-right #header-right-phone-number {
    font-size: 20px;
    color: #4f745f;
    text-decoration: none;
    cursor: default;
    font-weight: 500;
}

#header-logo-and-menu-container {
    padding-top: 28px;
}

#header-logo-and-menu-container #header-logo {
    margin: 0 auto;
    width: 218px;
    height: 105px;
    background: url("./images/header-logo.png");
}

#header-logo-and-menu-container #header-menu-container {
    text-align: center;
}

#header-logo-and-menu-container #header-menu-container #header-menu {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    height: 24px;
    line-height: 24px;
    margin-top: 22px;
}

#header-logo-and-menu-container #header-menu-container #header-menu li {
    float: left;
    border-right: 1px solid #dddddd;
    padding: 0px 17px;
    height: 24px;
}

#header-logo-and-menu-container #header-menu-container #header-menu li:last-child {
    border-right: none;
}

#header-logo-and-menu-container #header-menu-container #header-menu li a {
    font-size: 14px;
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    text-transform: uppercase;
    height: 40px;
    display: inline-block;
}

#header-logo-and-menu-container #header-menu-container #header-menu li > a.active,
#header-logo-and-menu-container #header-menu-container #header-menu li > a:hover,
#header-logo-and-menu-container #header-menu-container #header-menu li:hover > a {
    color: #ff9b00;
    border-bottom: 4px solid #ff9b00;
}

#header-logo-and-menu-container #header-menu-container #header-menu li:hover .submenu-container {
    display: block;
}

#header-logo-and-menu-container #header-menu-container #header-menu li .submenu-container {
    position: absolute;
    width: 100%;
    left: 0;
    top: calc(100% - 5px);
    z-index: 100;
    text-align: center;
    display: none;
}

#header-logo-and-menu-container #header-menu-container #header-menu li .submenu-container a {
    height: auto;
    background: url("./images/submenu-arrow.png");
    background-repeat: no-repeat;
    background-position: center right;
}

#header-logo-and-menu-container #header-menu-container #header-menu li .submenu-container .submenu-content {
    margin: 0 auto;
    display: inline-block;
    background: rgba(255, 255, 255, 0.9);
    padding: 40px 0px;
}

#header-logo-and-menu-container #header-menu-container #header-menu li .submenu-container .submenu-content .submenu-content-block {
    float: left;
    text-align: left;
    padding: 0px 40px;
    height: 130px;
    border-right: 1px solid #ff9a00;
}

#header-logo-and-menu-container #header-menu-container #header-menu li .submenu-container .submenu-content .submenu-content-block:last-child {
    border-right: none;
}

#header-logo-and-menu-container #header-menu-container #header-menu li .submenu-container .submenu-content .submenu-content-block .submenu-content-block-title {
    font-size: 16px;
    color: #333333;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-decoration: none;
    padding-right: 15px;
}

#header-logo-and-menu-container #header-menu-container #header-menu li .submenu-container .submenu-content .submenu-content-block .submenu-content-block-item {
    font-size: 15px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 10px;
    text-decoration: none;
    padding-right: 15px;
}

/* PRODUCTS CATEGORY PAGE */
#products-header #products-header-text-container-outer #products-header-text-container.height-not-fixed {
    bottom: 0;
    top: auto;
    height: auto;
    padding-bottom: 30px;
}

#category-products-container {
    width: 1260px;
    margin: 0 auto;
    margin-top: 80px;
}

#category-products-container .product {

}

#category-products-container .product::after {
    display: block;
    content: '';
    clear: both;
}

#category-products-container .product .product-left {
    float: left;
    width: 640px;
    height: 430px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#category-products-container .product .product-right {
    float: right;
    width: 550px;
}

#category-products-container .product.even .product-left {
    float: right;
}

#category-products-container .product.even .product-right {
    float: left;
}

#category-products-container .product .product-right .product-title {
    font-size: 20px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 20px;
}

#category-products-container .product .product-right .product-description {
    font-size: 15px;
    color: #666666;
    font-weight: 200;
    margin-bottom: 10px;
    font-weight: 300;
    line-height: 30px;
}

/* PRODUCTS */
#products-header {
    background: url("./images/products-header-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
}

#products-header #products-header-text-container-outer {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

#products-header #products-header-text-container-outer #products-header-text-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 450px;
    padding: 0px 55px;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
}

#products-header #products-header-text-container-outer #products-header-text-container #products-header-text-lead {
    padding-top: 55px;
}

#products-header #products-header-text-container-outer #products-header-text-container #products-header-text-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 20px;
}

#products-header #products-header-text-container-outer #products-header-text-container #products-header-text-subtitle {
    font-size: 20px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 15px;
}

#products-header #products-header-text-container-outer #products-header-text-container #products-header-text-content {
    font-size: 15px;
    line-height: 28px;
    color: #333333;
    font-weight: 500;
}

#products-arrow {
    height: 19px;
    width: 34px;
    background: url("./images/products-arrow.png");
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

#product-categories-container .product-category .product-category-lead {
    text-align: center;
}

#product-categories-container .product-category .product-category-title {
    display: block;
    text-decoration: none;
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 20px;
    text-align: center;
}

#product-categories-container .product-category .product-category-description {
    font-size: 15px;
    color: #333333;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    width: 670px;
    margin: 0 auto;
}


#product-categories-container .product-category .products-container {
    margin-top: 40px;
    text-align: center;
    font-size: 0px;
}

#product-categories-container .product-category .products-container .product {
    width: 400px;
    background: #3a3a3a;
    display: inline-block;
    margin: 0 20px;
    vertical-align: top;
}

#product-categories-container .product-category .products-container .product .prduct-orangle {
    height: 0px;
    background: #ff9b00;
    transition: all 0.15s linear;
}

#product-categories-container .product-category .products-container .product:hover .prduct-orangle {
    height: 8px;
    margin-top: 40px;
}

#product-categories-container .product-category .products-container .product.wide {
    width: 840px;
}

#product-categories-container .product-category .products-container .product .product-image {
    height: 290px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
    transition: all 0.15s linear;
}

#product-categories-container .product-category .products-container .product:hover .product-image {
    height: 242px;
}

#product-categories-container .product-category .products-container .product .product-title {
    font-size: 20px;
    color: #ffffff;
    font-weight: 200;
    margin-bottom: 20px;
}

#product-categories-container .product-category .products-container .product .product-description {
    font-size: 15px;
    color: #bababa;
    font-weight: 400;
    width: 320px;
    margin: 0 auto;
    line-height: 28px;
    overflow: hidden;
    margin-bottom: 22px;
    text-align: left;
    line-height: 30px;
    height: 180px;
}

#product-categories-container .product-category .products-container .product.wide .product-description {
    width: 740px;
}

#product-categories-container .product-category .products-container .product .product-button {
    height: 46px;
    line-height: 46px;
    background: #4f745f;
    border-radius: 4px;
    display: inline-block;
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    padding: 0 15px;
    margin-bottom: 25px;
}

#product-categories-container .product-category:last-child .separator {
    display: none;
}


#products-footer {
    margin: 70px 0px 55px 0px;
    text-align: center;
}

#products-footer #products-footer-logo {
    width: 63px;
    height: 71px;
    background: url("./images/products-footer-logo.png");
    margin: 0 auto;
    margin-bottom: 20px;
}

#products-footer #products-footer-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 30px;
}

#products-footer #products-footer-description {
    font-size: 15px;
    color: #666666;
    font-weight: 400;
    margin-bottom: 25px;
}

#products-footer #products-footer-button-container {
    text-align: center;
}

/* SUPPORT */
#support-slider {
    height: 700px;
}

/* FOOTER */
#footer-content {
    background-image: url("./images/footer-background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 10% top;
    background-color: #f3f3ef;
}

#footer-content-container {
    width: 1260px;
    margin: 0 auto;
    padding: 55px 0px;
}

#footer-content-container::after {
    clear: both;
    content: '';
    display: block;
}

.footer-block {
    width: 390px;
    float: left;
}

.footer-block.wide {
    width: 480px;
}

.footer-block-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 15px;
}

.footer-block-title-we-are-social{
    font-size: 35px;
    color: #333333;
    font-weight: 400;
    margin-bottom: 15px;
}

.footer-block-shields-buildings-description {
    font-size: 15px;
    color: #80807f;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 20px;
}

.footer-block-we-are-social-description {
    font-size: 15px;
    color: #80807f;
    font-weight: 400;
    line-height: 30px;
    width: 290px;
}
.footer-block-we-are-social-tagline {
    font-size: 15px;
    color: #333333;
    font-weight: 400;
    line-height: 30px;
    width: 290px;
    margin-top: 25px;
}

.footer-block-data {
    font-size: 15px;
    color: #80807f;
    font-weight: 500;
    line-height: 25px;
}

.footer-block-data a {
    color: #ffb04f;
}

.footer-facebook-button {
    font-size: 12px;
    color: #333333;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 32px;
    display: inline-block;
    margin-top: 35px;
}

.footer-facebook-button img {
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 5px;
}

.footer-block-opening-hours {
    font-size: 35px;
    color: #ff9a00;
    font-weight: 200;
}

.footer-block-logo-container {
    height: 55px;
    margin-top: 70px;
}

.footer-block-logo {
    float: right;
    width: 269px;
    height: 55px;
    background: url("./images/footer-logo.png");
}

#copyright {
    height: 80px;
    line-height: 80px;
    background: #e7ebe5;
    font-size: 13px;
    color: #333333;
}

#copyright a {
    color: #ff9900;
}

#copyright #developer {
    text-transform: uppercase;
    color: #ff9900;
    font-weight: 500;
}

#copyright #copyright-content {
    width: 1260px;
    height: 80px;
    margin: 0 auto;
}

#copyright #copyright-content #copyright-left {
    float: left;
}

#copyright #copyright-content #copyright-right {
    float: right;
}

/* BROCHURES */
#brochures {
    /*background: url("./images/brochures-bottom.png") center bottom no-repeat, url("./images/brochures-background.jpg") center top;*/
    background: url("./images/brochures-background.jpg") center top;
    padding-top: 60px;
    padding-bottom: 10px;
}

#brochures-lead {
    text-align: center;
}

#brochures-title {
    text-align: center;
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 20px;
}

#brochures-description {
    text-align: center;
    font-size: 15px;
    color: #888888;
    font-weight: 400;
}

#brochures-container {
    text-align: center;
    margin-top: 60px;
}

.brochure {
    width: 300px;
    display: inline-block;
    margin: 0px 35px;
    vertical-align: top;
    cursor: pointer;
}

.brochure-image {
    margin-bottom: 15px;
    position: relative;
    -webkit-box-shadow: 1px 9px 24px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 9px 24px -6px rgba(0,0,0,0.75);
    box-shadow: 1px 9px 24px -6px rgba(0,0,0,0.75);
    overflow: hidden;
    border-radius: 6px;
    width: 300px;
    height: 425px;
}

.brochure-image-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.brochure-image-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000;
    transition: opacity 0.2s linear;
    opacity: 0;
}

.brochure.active .brochure-image-cover {
    opacity: 0;
}

.brochure-image img {
    width: 100%;
    vertical-align: top;
}

.brochure-lead {
    text-align: center;
}

.brochure-title {
    text-align: center;
    font-size: 20px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 15px;
}

.brochure-description {
    text-align: center;
    font-size: 15px;
    line-height: 28px;
    color: #666666;
    font-weight: 300;
}

#brochures-download-area {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

#brochures-download-area-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 25px;
}

#brochures-download-area-description {
    font-size: 15px;
    color: #666666;
    font-weight: 300;
    margin-bottom: 30px;
}

#brochures-download-area-inputs {
    font-size: 0px;
    margin-bottom: 30px;
}

#brochures-download-area-inputs input {
    height: 46px;
    line-height: 46px;
    font-size: 15px;
    color: #666666;
    font-weight: 200;
    border: none;
    outline: none;
    padding: 0px 10px;
    border-radius: 4px;
    width: 300px;
    box-sizing: border-box;
    margin: 0px 10px;
}

#brochures-download-area-button {
    height: 46px;
    line-height: 46px;
    background: #ff9c00;
    border-radius: 4px;
    display: inline-block;
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    padding: 0 15px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

/* CASE STUDIES */
#case-studies {
    /*background: url("./images/brochures-bottom.png") center bottom no-repeat, url("./images/case-studies-background.jpg") center top;*/
    background: url("./images/case-studies-background.jpg") center top;
    padding-top: 60px;
    padding-bottom: 10px;
}

#case-studies-lead {
    text-align: center;
}

#case-studies-title {
    text-align: center;
    font-size: 35px;
    color: #ffffff;
    font-weight: 200;
    margin-bottom: 20px;
}

#case-studies-description {
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    max-width: 1260px;
    margin: 0 auto;
    margin-bottom: 60px;
}

#case-studies-contaier {
    width: 1372px;
    margin: 0 auto;
}

.case-studies-category-container {
    margin-top: 10px;
}

.case-studies-category-title {
    font-size: 35px;
    color: #ffffff;
    font-weight: 200;
    margin-bottom: 20px;
    margin-bottom: 10px;
}

.case-studies-slider {
    height: 670px;
    position: relative;
    margin-bottom: 50px;
}

.case-studies-slider .slick-list {
    overflow: hidden;
}

.case-studies-slider .slick-arrow {
    width: 60px;
    height: 60px;
    background: url("./images/slider-button-left.jpg");
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 216px;
    left: -100px;
    transform: translateY(-50%);
}

.case-studies-slider .slick-arrow.slick-next {
    background: url("./images/slider-button-right.jpg");
    top: 216px;
    left: auto;
    right: -100px;
    transform: translateY(-50%);
}

.case-study {
    float: left;
    padding: 10px;
}

.case-study a {
    text-decoration: none;
}

.case-study-image-container {
    width: 100%;
    height: 432px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 30px;
    border-radius: 10px;
}

.case-study-lead {
    text-align: center;
}

.case-study-title {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    font-weight: 200;
    margin-bottom: 20px;
    margin-bottom: 20px;
}

.case-study-description {
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    font-weight: 200;
    line-height: 25px;
}

#case-studies-testimonials {
    margin-top: 30px;
    margin-bottom: 90px;
}

#case-studies-testimonials-lead {
    text-align: center;
}

#case-studies-testimonials-title {
    text-align: center;
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 20px;
}

#case-studies-testimonials-description {
    text-align: center;
    font-size: 15px;
    color: #666666;
    font-weight: 400;
    margin-bottom: 20px;
}

#case-studies-testimonials-container {
    text-align: center;
    margin-top: 50px;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#case-studies-testimonials-container::after {
    clear: both;
    content: '';
    display: block;
}

#case-studies-testimonials-container .slick-list {
    overflow: hidden;
}

#case-studies-testimonials-container .slick-arrow {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url("./images/slider-button-left.jpg");
    border: none;
    outline: none;
    cursor: pointer;
    top: 50%;
    left: -83px;
    z-index: 2;
    transform: translateY(-50%);
}

#case-studies-testimonials-container .slick-arrow.slick-next {
    background: url("./images/slider-button-right.jpg");
    top: 50%;
    left: auto;
    right: -83px;
    z-index: 2;
}

.case-studies-testimonial {
    display: inline-block;
    width: 420px;
    text-align: left;
    vertical-align: top;
    margin-right: 75px;
}

.case-studies-testimonial:last-child {
    margin-right: 0px;
}

.case-studies-testimonial-description {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 200;
    font-style: italic;
}

.case-studies-testimonial-title {
    font-size: 15px;
    color: #333333;
    font-weight: 400;
}

/* HOME */
#home-slider {
    overflow: hidden;
}

.home-slider-element {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    height: 480px;
}

.home-slider-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: none;
}

.home-text-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 660px;
    background: rgba(255, 255, 255, 0.75);
    text-align: center;
    padding: 0px 40px;
}

.home-text-lead {
    padding-top: 30px;
}

.home-text-title {
    font-size: 50px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 30px;
}

.home-text-description {
    font-size: 15px;
    color: #333333;
    font-weight: 500;
    margin-bottom: 40px;
}

.home-text-button-container {
    margin-bottom: 40px;
}

#home-slider .slick-arrow {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url("./images/slider-arrow-prev.png");
    border: none;
    outline: none;
    cursor: pointer;
    bottom: 30%;
    left: 50%;
    transform: translate(-430px, -50%);
    z-index: 2;
}

#home-slider .slick-arrow.slick-next {
    bottom: 30%;
    left: 50%;
    transform: translate(370px, -50%);
    z-index: 2;
    background: url("./images/slider-arrow-next.png");
}

#home-slider .slick-dots {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#home-slider .slick-dots li {
    display: inline-block;
}

#home-slider .slick-dots li button {
    text-indent: -9999px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #dddddd;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 7px;
}

#home-slider .slick-dots li.slick-active button {
    background: #ff9a00;
}

#news-container {
    text-align: center;
}

#news-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 15px;
}

#news-description {
    font-size: 15px;
    color: #666666;
    font-weight: 400;
    margin-bottom: 30px;
}

#news-button-container {
    margin-bottom: 60px;
}

#news-elements-container {
    text-align: center;
    font-size: 0px;
}

.news-element {
    width: 300px;
    display: inline-block;
    margin: 0px 15px;
    vertical-align: top;
}

.news-image-container {
    height: 370px;
    margin-bottom: 30px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.news-title {
    font-size: 20px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 15px;
}

.news-element-button-container {
    text-align: center;
}

/* DOWNLOAD AND PLANNING PERMISSION AREA */
#download-and-planning-permission-area {
    text-align: center;
    font-size: 0px;
    margin-top: 60px;
    margin-bottom: 100px;
}

#download {
    display: inline-block;
    width: 480px;
    height: 450px;
    vertical-align: top;
    margin-right: 50px;
}

#download-lead {
    font-size: 13px;
    color: #3a3a3a;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 45px;
    margin-bottom: 20px;
}

#download-title {
    width: 380px;
    margin: 0 auto;
    margin-bottom: 30px;
}

#download-title::after {
    clear: both;
    content: '';
    display: block;
}

#download-title-left {
    float: left;
    color: #ffffff;
    font-size: 163px;
    font-weight: 500;
    height: 110px;
    line-height: 110px;
    margin-top: 10px;
}

#download-title-right {
    float: right;
    font-size: 35px;
    color: #393939;
    font-weight: 200;
    text-transform: uppercase;
    width: 280px;
    text-align: left;
}

#download-title-right span {
    color: #ffffff;
}

#download-form {
    width: 380px;
    margin: 0 auto;
}

#seven-point-guide-download-form-error {
    font-size: 16px;
    color: red;
    margin-top: -10px;
}

.download-form-input {
    height: 46px;
    display: block;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px;
    padding: 0px 10px;
    outline: none;
    font-size: 15px;
}

#planning {
    display: inline-block;
    width: 480px;
    height: 450px;
    background: #3a3a3a;
    vertical-align: top;
}

#planning-lead {
    font-size: 13px;
    color: #ff9900;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 45px;
    margin-bottom: 25px;
}

#planning-title {
    font-size: 35px;
    color: #ffffff;
    font-weight: 200;
    margin-bottom: 25px;
}

#planning-description {
    font-size: 15px;
    color: #b9b9b9;
    font-weight: 400;
    line-height: 30px;
    width: 370px;
    margin: 0 auto;
    margin-bottom: 15px;
    height: 190px;
    overflow: hidden;
}

#home-introduction {
    width: 1260px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 100px;
}

#home-introduction::after {
    clear: both;
    content: '';
    display: block;
}

#home-introduction-left {
    float: left;
    width: 560px;
}

#home-introduction-right {
    float: right;
    width: 620px;
}

#home-introduction-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 15px;
}

#home-introduction-description {
    font-size: 15px;
    color: #666666;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;
}

#featured-items {
    background: url("./images/home-featured-background.jpg");
    margin-bottom: 50px;
    position: relative;
}

#featured-items-top {
    position: absolute;
    top: 0;
    left: 0;
    height: 86px;
    width: 100%;
    /*background: url("./images/home-featured-top.png") no-repeat center top;*/
}

#featured-items-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 86px;
    width: 100%;
    /*background: url("./images/home-featured-bottom.png") no-repeat center top;*/
}

#featured-items {
    display: table;
}

#featured-items::after {
    clear: both;
    content: '';
    display: block;
}

#featured-items-left {
    display: table-cell;
    width: 50%;
    border-right: 2px solid #ffffff;
    padding-top: 90px;
    padding-bottom: 90px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#featured-items-right {
    display: table-cell;
    width: 50%;
    padding: 30px 65px;
    box-sizing: border-box;
    padding-top: 90px;
    padding-bottom: 90px;
}

.featured-item-title {
    font-size: 35px;
    color: #ffffff;
    font-weight: 200;
    margin-bottom: 15px;
}

.featured-item-description {
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 15px;
}

.featured-item-description-testimonial {
    font-size: 18px;
    font-weight: 200;
    font-style: italic;
}


/* SUPPORT LANDING */
#support-lead {
    font-size: 13px;
    color: #ff9900;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

#support-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 15px;
    text-align: center;
}

#support-section-container {
    padding-top: 50px;
    background: #eeeeee; /* Old browsers */
    background: url("./images/support-background.png") no-repeat left center, -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 120px); /* FF3.6-15 */
    background: url("./images/support-background.png") no-repeat left center, -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 120px); /* Chrome10-25,Safari5.1-6 */
    background: url("./images/support-background.png") no-repeat left center, linear-gradient(to bottom,  #eeeeee 0%,#ffffff 120px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.support-section {
    width: 1390px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.support-section-lead {
    font-size: 13px;
    color: #ff9900;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
}

.support-section-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 15px;
}

.support-section-slider {
    position: relative;
}

.support-section-slider .slick-list {
    overflow: hidden;
}

.support-section-slider::after {
    clear: both;
    content: '';
    display: block;
}

.support-section-slider-element {
    float: left;
    margin: 0 15px;
    text-decoration: none;
}

.support-section-slider .slick-arrow {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url("./images/slider-button-left.jpg");
    border: none;
    outline: none;
    cursor: pointer;
    top: 95px;
    left: -83px;
    z-index: 2;
}

.support-section-slider .slick-arrow.slick-next {
    background: url("./images/slider-button-right.jpg");
    top: 95px;
    left: auto;
    right: -83px;
    z-index: 2;
}

.support-section-slider-element-image-container {
    height: 245px;
    border-radius: 4px;
    margin-bottom: 20px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.support-section-slider-element-lead {
    font-size: 13px;
    color: #ff9900;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.support-section-slider-element-title {
    font-size: 20px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 15px;
    text-align: center;
}

.support-section-slider-element-description {
    font-size: 15px;
    color: #aaaaaa;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
}

/* PRODUCT PAGE */
#product-menu-helper {
    height: 200px;
    display: none;
}

#product-menu-helper.float {
    display: block;
}

#product-menu {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    font-size: 0;
    margin-top: 70px;
    margin-bottom: 90px;
}

#product-menu li {
    position: relative;
}

#product-menu .product-menu-mobile-menu-icon {
    position: absolute;
    right: 25px;
    top: 15px;
    width: 15px;
    height: 15px;
    background: url("./images/mobile-menu.png");
    display: none;
}

#product-menu.float {
    margin-top: 0px;
    margin-bottom: 0px;
    position: fixed;
    left: -5%;
    top: 70px;
    z-index: 999999;
    background: #ffffff;
    width: 110%;
    height: 47px;
    -webkit-box-shadow: 0px 20px 20px -12px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 20px 20px -12px rgba(0,0,0,0.22);
    box-shadow: 0px 20px 20px -12px rgba(0,0,0,0.22);
}

@media (max-width : 1280px) {

    #product-menu.float li {
        padding-left: 10px;
        padding-right: 10px;
    }

    #product-menu.float li a {
        font-size: 14px;
    }

}

@media (max-width: 1100px) {

    #product-menu.float {
        top: 110px;
    }

}
@media (max-width: 550px){
    #product-menu.float li {
        padding-left: 3px;
        padding-right: 3px;
    }

}

@media (max-width: 480px) {

    #product-menu {
        overflow: hidden;
    }

    #product-menu.opened {
        height: auto;
    }

    #product-menu .product-menu-mobile-menu-icon {
        display: block;
    }

}

#product-menu li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    border-right: 1px solid #dddddd;
    height: 40px;
    line-height: 40px;
}

#product-menu li a {
    font-size: 18px;
    color: #333333;
    text-decoration: none;
    height: 43px;
    display: inline-block;
}

#product-menu li a.active {
    border-bottom: 4px solid #ff9a00;
}

#product-introduction {
    width: 1260px;
    margin: 0 auto;
    margin-bottom: 95px;
}

#product-introduction::after {
    clear: both;
    content: '';
    display: block;
}

#product-introduction-left {
    float: left;
    width: 500px;
}

#product-introduction-right {
    float: right;
    width: 710px;
}

#product-introduction-title {
    font-size: 35px;
    font-weight: 200;
    color: #333333;
    margin-bottom: 20px;
}

#product-introduction-description {
    font-size: 15px;
    color: #666666;
    font-weight: 300;
    line-height: 30px;
}


#wgbh-container {
    background: #e6e6de;
    padding: 70px 0px;
    font-size: 0;
    text-align: center;
}

#wgbh-container-inner {
    width: 72%;
    margin-left: 13%;
}

#wgbh-lead {
    text-align: left;
}

.wgbh-element {
    display: inline-block;
    width: 30%;
    margin-right: 5%;
    text-align: left;
    vertical-align: top;
}

.wgbh-element:last-child {
    margin-right: 0%;
}

.wgbh-element-title {
    font-size: 20px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 20px;
}

.wgbh-element-description {
    font-size: 15px;
    color: #333333;
    line-height: 30px;
    font-weight: 200;
}

.wgbh-element-description ul {
    list-style: none;
    padding: 0;
    padding-left: 10px;
    margin: 20px 0px;
}

.wgbh-element-description ul li {
    padding-left: 20px;
    line-height: 25px;
    position: relative;
}

.wgbh-element-description ul li::before {
    left: 0;
    top: 0;
    position: absolute;
    content: "• ";
    color: #ff9d00;
    margin-right: 7px;
    font-size: 30px;
}

#product-price {
    width: 1260px;
    margin: 80px auto;
}

#product-price::after {
    clear: both;
    display: block;
    content: '';
}

#product-price-left {
    float: left;
    width: 590px;
}

#product-price-right {
    float: right;
    width: 580px;
}

#product-price-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 20px;
}

#product-price-description {
    font-size: 15px;
    color: #666666;
    line-height: 30px;
}

.product-price-accorditon-item {
    margin-bottom: 20px;
}

.product-price-accorditon-item:last-of-type {
    margin-bottom: 40px;
}

.product-price-accorditon-item-title {
    height: 45px;
    line-height: 45px;
    border-left: 3px solid #ff9b00;
    cursor: pointer;
    background: url("./images/price-arrow-down.png") no-repeat center right 20px, #e6e6de;
}

.product-price-accorditon-item.active .product-price-accorditon-item-title {
    background: url("./images/price-arrow-up.png") no-repeat center right 20px, #f5f5ed;
}

.product-price-accorditon-item-name {
    float: left;
    margin-left: 15px;
    color: #333333;
}

.product-price-accorditon-item-price {
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin-right: 75px;
}

.product-price-accorditon-item-description {
    padding: 45px 55px;
    background: #f5f5ed;
    font-size: 15px;
    line-height: 28px;
    color: #333333;
    display: none;
}

.product-price-accorditon-item.active .product-price-accorditon-item-description {
    display: block;
}

#newsletter {
    text-align: center;
    margin-top: 70px;
    padding-bottom: 80px;
    padding-top: 80px;
    background: -moz-linear-gradient(top, #eeeeee 0%, #ffffff 120px);
    background: -webkit-linear-gradient(top, #eeeeee 0%,#ffffff 120px);
    background: linear-gradient(to bottom, #eeeeee 0%,#ffffff 120px);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
}

#newsletter-error {
    text-align: center;
    font-size: 17px;
    color: #ee3030;
    margin-top: 15px;
}

#newsletter-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#newsletter-description {
    font-size: 15px;
    color: #666666;
    font-weight: 400;
    margin-bottom: 30px;
}

#newsletter-form {
    width: 810px;
    padding: 48px;
    height: 46px;
    margin: 0 auto;
}

#newsletter-form input[type='text'] {
    height: 46px;
    line-height: 46px;
    border: none;
    border-radius: 4px;
    background: #ffffff;
    outline: none;
    padding: 0px;
    vertical-align: top;
    width: 260px;
    box-sizing: border-box;
    margin-right: 10px;
    padding: 0px 15px;
    font-size: 15px;
}

/* CASE STUDY SINGLE */
#case-study-slider {
    height: 700px;
    position: relative;
}

#case-study-slider .slick-list {
    overflow: hidden;
}

#case-study-slider .slick-dots {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    z-index: 99999999;
}

#case-study-slider .slick-dots li {
    display: inline-block;
}

#case-study-slider .slick-dots li button {
    text-indent: -9999px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #dddddd;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 7px;
}

#case-study-slider .slick-dots li.slick-active button {
    background: #ff9a00;
}

#case-study-video-container {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 60px;
}

#case-study-video-title {
    font-size: 35px;
    font-weight: 200;
    color: #333333;
    margin-bottom: 35px;
}

#case-study-video-container iframe {
    border-bottom: 5px solid #ff9900;
}

.case-study-slider-element {
    height: 700px;
    float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#case-study-slider .slick-arrow {
    width: 60px;
    height: 60px;
    background: url("./images/slider-button-left.jpg");
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 999;
}

#case-study-slider .slick-arrow.slick-next {
    background: url("./images/slider-button-right.jpg");
    top: 50%;
    left: auto;
    right: 0px;
    transform: translateY(-50%);
    z-index: 999;
}

#case-study-detail {
    display: table;
    width: 100%;
}

.case-study-subtitle {
    font-size: 25px;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333333;
}

.case-study-subdescription {
    font-size: 15px;
    color: #333333;
    line-height: 30px;
    font-weight: 200;
}

.case-study-product-button {
    margin-top: 15px;
}

#case-study-detail-left {
    display: table-cell;
    width: 55%;
    box-sizing: border-box;
    padding-left: 15%;
    padding-right: 5%;
    padding-top: 80px;
    padding-bottom: 80px;
}

#case-study-detail-right {
    display: table-cell;
    width: 45%;
    box-sizing: border-box;
    background: url('./images/case-studies-background.jpg') center top;
    padding-top: 80px;
    padding-bottom: 150px;
    padding: 40px;
}

#case-study-detail-right-title {
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
}

#case-study-detail-right-description {
    font-size: 18px;
    color: #ffffff;
    font-style: italic;
    font-weight: 200;
    margin-bottom: 15px;
    line-height: 30px;
}

#case-study-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 20px;
}

#case-study-description {
    font-size: 15px;
    color: #333333;
}

/* CONTACT */
#contact {
    height: 590px;
    margin-bottom: 60px;
}

#contact::after {
    clear: both;
    content: '';
    display: block;
}

#contact-left {
    float: left;
    background: url("./images/contact-black-box-background.png") no-repeat left -20% center, #333333;
}

#contact-left-block-left {
    float: left;
    height: 590px;
    width: 500px;
    box-sizing: border-box;
    padding: 60px;
    line-height: 30px;
}

#contact-left-block-right {
    float: left;
    height: 590px;
    width: 470px;
    padding-left: 0px;
    box-sizing: border-box;
    padding: 60px;
    line-height: 30px;
}

#contact-left-title {
    font-size: 35px;
    color: #ffffff;
    font-weight: 200;
    margin-bottom: 20px;
}

#contact-left-description {
    font-size: 15px;
    color: #ffffff;
    font-weight: 200;
    margin-bottom: 20px;
}

#contact-left-info {
    font-size: 15px;
    color: #ff9900;
    font-weight: 500;
}

#contact-right {
    float: right;
    height: 590px;
    width: calc(100% - 970px);
}

#contact-footer-extend {
    height: 50px;
}

.contact-page-team-memeber-box {
    width: 1260px;
    margin: 0 auto;
}

.contact-page-team-memeber-box::after {
    clear: both;
    content: '';
    display: block;
}

.contact-page-team-memeber-box-image {
    width: 500px;
    height: 430px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
}

.contact-page-team-memeber-box.right .contact-page-team-memeber-box-image {
    float: right;
}

.contact-page-team-memeber-box-data {
    width: 680px;
    float: right;
}

.contact-page-team-memeber-box-title {
    font-size: 18px;
    color: #333333;
    font-weight: 400;
}

.contact-page-team-memeber-box-description {
    font-size: 15px;
    color: #999999;
}

.contact-page-team-memeber-box.right .contact-page-team-memeber-box-data {
    float: left;
}

/* PRODUCT OPTIONS */
#product-options {
    /*background: url('./images/home-featured-top.png') no-repeat center top, url('./images/home-featured-bottom.png') no-repeat center bottom, #f3f3ef;*/
    background: #f3f3ef;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    margin-top: 50px;
}

#product-options-left {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    text-align: left;
    margin-right: 85px;
}

#product-options-right {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 710px;
}

#product-options-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 20px;
}

#product-options-description {
    font-size: 15px;
    color: #666666;
    margin-bottom: 20px;
}

#product-options-right table {
    width: 100%;
    border-collapse: collapse;
}

#product-options-right table thead tr td {
    font-size: 15px;
    color: #333333;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid #ff9900;
}

#product-options-right table tbody tr td {
    font-size: 14px;
    color: #333333;
    border-bottom: 1px solid #e0e0d7;
    text-align: center;
}

#product-options-right table tbody tr:last-child td {
    border-bottom: none;
}

#product-options-right table td.first {
    width: 170px;
    padding-left: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.product-option-has {
    width: 20px;
    height: 20px;
    background: url("./images/has.png");
    display: inline-block;
}

.product-option-has.not {
    background: url("./images/hasnot.png");
}

/*  SUPPORT SLIDER */

#support-slider {
    height: 700px;
    position: relative;
}

#support-slider .slick-list {
    overflow: hidden;
}

#support-slider .slick-dots {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#support-slider .slick-dots li {
    display: inline-block;
}

#support-slider .slick-dots li button {
    text-indent: -9999px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #dddddd;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 7px;
}

#support-slider .slick-dots li.slick-active button {
    background: #ff9a00;
}

.support-slider-element {
    height: 700px;
    float: left;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#support-slider .slick-arrow {
    width: 60px;
    height: 60px;
    background: url("./images/slider-button-left.jpg");
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 999;
}

#support-slider .slick-arrow.slick-next {
    background: url("./images/slider-button-right.jpg");
    top: 50%;
    left: auto;
    right: 0px;
    transform: translateY(-50%);
    z-index: 999;
}

#support-highlights-heading {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

#support-highlights-heading-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
}

#case-study-highlights-heading {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

#case-study-highlights-heading-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
}

/* OUR TIMBER */
#our-timber {
    display: table;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
}

#our-timber-left {
    display: table-cell;
    width: 50%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./images/our-timber.jpg');
}

#our-timber-right {
    display: table-cell;
    width: 50%;
    box-sizing: border-box;
    background: #ffb04f;
}

#our-timber-right-content {
    padding: 50px;
    width: 560px;
}

#our-timber-lead {
    color: #ffffff;
}

#our-timber-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 20px;
}

#our-timber-description {
    font-size: 15px;
    color: #ffffff;
    line-height: 30px;
}

/* PRODUCT OPTIONS DETAIL */

#product-options-detail-images::after {
    display: block;
    content: '';
    clear: both;
}

#product-options-detail {
    margin-bottom: 60px;
}

#product-option-detail-image-left-container {
    float: left;
    width: calc(50% - 1px);
    text-align: right;
}

#product-option-detail-image-right-container {
    float: right;
    width: calc(50% - 1px);
    text-align: left;
}


#product-option-detail-image-left {
    height: 350px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

#product-option-detail-image-right {
    height: 350px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.product-option-detail-content {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
    width: 70%;
}

.product-option-detail-title {
    font-size: 20px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 20px;
}

.product-option-detail-description {
    font-size: 15px;
    color: #666666;
    text-align: justify;
    line-height: 30px;
}

#product-options-detail-head-container {
    width: 860px;
    margin: 0 auto;
    margin-left: 13%;
}

#product-options-detail-title {
    font-size: 35px;
    color: #333333;
    margin-bottom: 20px;
    font-weight: 200;
}

#product-options-detail-description {
    font-size: 15px;
    color: #666666;
    margin-bottom: 30px;
    line-height: 30px;
}

/* PRODUCT SUPPORT */
#product-support {
    text-align: center;
    margin-bottom: 80px;
}

#product-support-left {
    display: inline-block;
    width: 590px;
    vertical-align: top;
    text-align: left;
    margin-right: 40px;
}

#product-support-right {
    display: inline-block;
    width: 590px;
    vertical-align: top;
}

#product-support-right form {
    padding: 40px;
}

#product-support-right form input[type='text'] {
    display: block;
    border: none;
    height: 46px;
    line-height: 46px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 0px 10px;
    width: 100%;
    outline: none;
    color: #666666;
    font-weight: 200;
    font-size: 15px;
}

#product-support-right form select {
    display: block;
    border: none;
    height: 46px;
    line-height: 46px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 0px 10px;
    width: 100%;
    outline: none;
    background: #ffffff;
    color: #666666;
    font-weight: 200;
    font-size: 15px;
}

#product-support-right-button-container {
    text-align: center;
}

#product-support-right-button-container .button{
    margin-top: 20px;
}

#product-support-right-button-container .button {
    margin-bottom: 0px;
}

#product-support-left-title {
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 200;
    color: #333333;
}

#product-support-left-description {
    font-size: 15px;
    color: #333333;
    line-height: 30px;
    font-weight: 200;
}

/* PRODCUT CASE STUDY SLIDER */
#product-case-study-slider-container {
    position: relative;
    height: 800px;
    margin-bottom: 80px;
    overflow: hidden;
}

#product-case-study-slider {
    height: 800px;
    position: relative;
}

#product-case-study-slider .slick-arrow {
    position: absolute;
    bottom: 80px;
    width: 92px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 15px;
    color: #ffffff;
    left: calc(50% - 93px);
    z-index: 99;
    background: url('./images/case-study-slider-arrow-left.png') no-repeat center left 10px #ff9a00;
    padding-left: 40px;
    box-sizing: border-box;
}

#product-case-study-slider .slick-arrow.slick-next {
    left: calc(50% + 1px);
    background: url('./images/case-study-slider-arrow-right.png') no-repeat center right 10px #ff9a00;
    padding-left: 26px;
}

#product-case-study-slider .slick-dots li button {
    text-indent: -9999px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #dddddd;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 7px;
}

#product-case-study-slider .slick-dots {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#product-case-study-slider .slick-dots li {
    display: inline-block;
}

#product-case-study-slider .slick-dots li.slick-active button {
    background: #ff9a00;
}

.product-case-study-slider-element {
    height: 800px;
    float: left;
    width: 100%;
}

.product-case-study-slider-element-left {
    float: left;
    height: 100%;
    width: calc(50% - 1px);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.product-case-study-slider-element-right {
    float: right;
    height: 100%;
    width: calc(50% - 1px);
    background: url('./images/case-studies-background.jpg') center top;
    padding: 40px 80px;
    box-sizing: border-box;
}

.product-case-study-slider-element-right .lead {
    margin-top: 30px;
}

.product-case-study-slider-element-title {
    font-size: 35px;
    color: #ffffff;
    font-weight: 200;
    margin-bottom: 10px;
}

.product-case-study-slider-element-testimonial-title {
    font-size: 35px;
    color: #ffffff;
    font-weight: 200;
    margin-bottom: 10px;
}

.product-case-study-slider-element-subtitle {
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 15px;
}

.product-case-study-slider-element-description {
    font-size: 15px;
    color: #ffffff;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 30px;
}

.product-case-study-slider-element-testimonial-description {
    font-size: 15px;
    color: #ffffff;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 30px;
}

#product-case-study-slider-top {
    position: absolute;
    top: 0;
    left: 0;
    height: 86px;
    width: 100%;
    /*background: url('./images/home-featured-top.png') no-repeat center top;*/
    z-index: 99;
}

#product-case-study-slider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 86px;
    width: 100%;
    /*background: url('./images/home-featured-bottom.png') no-repeat center top;*/
    z-index: 99;
}

/* CMS */
#cms-page-image {
    height: 700px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cms-page-conatiner {
    width: 1260px;
    margin: 0 auto;
    padding: 80px 0px;
}

#cms-page-conatiner::after {
    clear: both;
    content: '';
    display: block;
}

#cms-page-conatiner-right {
    float: right;
    width: 480px;
}

#cms-page-conatiner-right #download-and-planning-permission-area {
    margin-top: 0px;
    margin-bottom: 0px;
}

#cms-page-conatiner-right #download-and-planning-permission-area #download {
    margin-bottom: 30px;
}

#cms-page-conatiner-left {
    float: left;
    width: 700px;
    line-height: 30px;
}

/* MODALS */
#brochure-download-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
}

#brochure-download-modal.active {
    display: block;
}

#brochure-download-modal-content {
    width: 700px;
    margin: 0 auto;
    margin-top: 240px;
    padding: 40px;
    background: #ffffff;
    border-radius: 4px;
    position: relative;
}

#brochure-download-modal-content-title-container {
    text-align: center;
}

#brochure-download-modal-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 15px;
}

#brochure-download-modal-description {
    font-size: 15px;
    color: #666666;
    margin-bottom: 25px;
}

.brochure-download-form-row-input {
    height: 46px;
    box-sizing: border-box;
    line-height: 44px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 47.5%;
    margin-right: 4%;
    outline: none;
    margin-bottom: 20px;
    padding: 0px 15px;
    font-size: 15px;
    color: #666666
}

.brochure-download-form-row-input:last-child {
    margin-right: 0;
}

.brochure-download-form-row-select {
    height: 46px;
    box-sizing: border-box;
    line-height: 46px;
    border-radius: 4px;
    width: 47.5%;
    margin-right: 4%;
    outline: none;
    background: #ffffff;
    border: 1px solid #dddddd;
    font-size: 15px;
    color: #666666;
    padding-left: 10px;
}

.brochure-download-form-row .button {
    margin-bottom: 0px;
}

#brochure-download-modal-close{
    position: absolute;
    right: 25px;
    top: 25px;
    width: 12px;
    height: 12px;
    background: url("./images/modal-close.png");
    cursor: pointer;
}

#brochure-download-modal-error {
    text-align: center;
    font-size: 13px;
    color: #ee3030;
    margin-top: 15px;
}

#newsletter-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
}

#newsletter-modal.active {
    display: block;
}

#newsletter-modal-content {
    width: 700px;
    margin: 0 auto;
    margin-top: 240px;
    padding: 40px;
    background: #ffffff;
    border-radius: 4px;
    position: relative;
}

#newsletter-modal-content-title-container {
    text-align: center;
}

#newsletter-modal-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 15px;
}

#newsletter-modal-description {
    font-size: 15px;
    color: #666666;
    margin-bottom: 25px;
}

.newsletter-download-form-row-input {
    height: 46px;
    box-sizing: border-box;
    line-height: 44px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 30%;
    margin-right: 1%;
    margin-left: 1%;
    outline: none;
    margin-bottom: 20px;
    padding: 0px 15px;
    font-size: 15px;
    color: #666666
}

.newsletter-download-form-row {
    text-align: center;
}

#newsletter-modal-close{
    position: absolute;
    right: 25px;
    top: 25px;
    width: 12px;
    height: 12px;
    background: url("./images/modal-close.png");
    cursor: pointer;
}

#newsletter-modal-error {
    text-align: center;
    font-size: 13px;
    color: #ee3030;
    margin-top: 15px;
}



#newslerre-modal-success {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
}

#newslerre-modal-success.active {
    display: block;
}

#newslerre-modal-success-content {
    width: 700px;
    margin: 0 auto;
    margin-top: 240px;
    padding: 40px;
    background: #ffffff;
    border-radius: 4px;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

#newsletter-modal-success-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 15px;
}


#brochure-download-modal-success {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
}

#brochure-download-modal-success.active {
    display: block;
}

#brochure-download-modal-success-content {
    width: 700px;
    margin: 0 auto;
    margin-top: 240px;
    padding: 40px;
    background: #ffffff;
    border-radius: 4px;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

#brochure-download-modal-success-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 15px;
}


#enquiry-modal-close{
    position: absolute;
    right: 25px;
    top: 25px;
    width: 12px;
    height: 12px;
    background: url("./images/modal-close.png");
    cursor: pointer;
}

#enquiry-modal-success {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
}

#enquiry-modal-success.active {
    display: block;
}

#enquiry-modal-success-content {
    width: 700px;
    margin: 0 auto;
    margin-top: 240px;
    padding: 40px;
    background: #ffffff;
    border-radius: 4px;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

#enquiry-modal-success-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 15px;
}

#contact-members-heading {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

#contact-members-heading-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
}

#contact-members-heading-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
}

#contact-blocks {
    width: 1260px;
    margin: 0 auto;
}

.contact-block {
    display: inline-block;
    vertical-align: top;
    width: 430px;
}

.contact-block.contact-block-title {
    width: 320px;
    margin-right: 45px;
}

.contact-block.contact-block-center {
    margin-right: 13px;
}

#contact-block-title {
    font-size: 35px;
    color: #333333;
    margin-bottom: 15px;
    font-weight: 200;
}

#contact-block-description {
    font-size: 15px;
    color: #999999;
    line-height: 23px;
}

.contact-block input[type='text'] {
    height: 46px;
    box-sizing: border-box;
    line-height: 44px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 100%;
    outline: none;
    margin-bottom: 15px;
    padding: 0px 15px;
    font-size: 15px;
    color: #666666;
}

.contact-block select {
    height: 46px;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    line-height: 46px;
    border-radius: 4px;
    width: 100%;
    outline: none;
    background: #ffffff;
    font-size: 15px;
    color: #666666;
    margin-bottom: 15px;
    padding: 0px 10px;
}

.contact-block textarea {
    height: 168px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #dddddd;
    width: 100%;
    outline: none;
    font-size: 13px;
    color: #666666;
    margin-bottom: 15px;
    padding: 10px;
    font-family: "Fira Sans";
}

#contact-block-submit::after {
    clear: both;
    content: '';
    display: block;
}

#contact-block-submit-left {
    float: left;
    font-size: 13px;
    color: #333333;
}

#contact-block-submit-right {
    float: right;
}

#contact-block-submit-left label {
    width: 18px;
    height: 18px;
    background: #dddddd;
    display: inline-block;
    border-radius: 3px;
    cursor: pointer;
    vertical-align: middle;
    margin-top: -2px;
}

#contact-block-submit-left label.checked {
    background: url("./images/checked.jpg");
}

#contact-block-submit-left input {
    display: none;
}

/* PRODUCT SLIDER */
#product-slider-container {
    height: 650px;
    position: relative;
    overflow: hidden;
}

#product-slider {
    height: 650px;
}

.product-slider-element {
    float: left;
    height: 650px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#product-slider-text-container {
    width: 640px;
    padding-bottom: 30px;
    padding-top: 30px;
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    text-align: center;
}

#product-slider-text-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
}

#product-slider-text-container  .slick-arrow {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url('./images/slider-arrow-prev.png');
    border: none;
    outline: none;
    cursor: pointer;
    top: 50%;
    left: -60px;
    transform: translateY(-50%);
    z-index: 2;
}

#product-slider-text-container  .slick-arrow.slick-next {
    background: url('./images/slider-arrow-next.png');
    top: 50%;
    right: -60px;
    left: auto;
    transform: translateY(-50%);
    z-index: 2;
}

/* NEWS */
#news-archive-container {
    width: 1260px;
    margin: 0 auto;
    margin-bottom: 100px;
}

#news-archive-container::after {
    clear: both;
    display: block;
    content: '';
}

#news-archive-left {
    float: left;
    width: 780px;
}

#news-archive-right {
    width: 400px;
    float: right;
    background: #ffb04f;
    box-sizing: border-box;
    padding: 40px;
}

.news-archive-right-block {
    font-size: 0px;
    margin-bottom: 30px;
}

.news-archive-right-block-title {
    font-size: 13px;
    color: #393939;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
}

.news-archive-right-block a {
    font-size: 15px;
    display: block;
    color: #ffffff;
    margin-bottom: 5px;
}

#news-archive-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 20px;
}

#news-archive-description {
    font-size: 15px;
    color: #666666;
    margin-bottom: 20px;
    line-height: 30px;
}

.news-block-title {
    font-size: 20px;
    color: #333333;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.news-block-info {
    font-size: 11px;
    color: #ff9900;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.news-block-description {
    font-size: 15px;
    color: #666666;
    margin-bottom: 20px;
    line-height: 30px;
}

.news-block-description img {
    max-width: 100%;
}

.news-block .separator {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}

#mobile_menu {
    display: none;
}

.path {
    display: none !important;
}

#product-taxonomy-boxes-container {
    text-align: center;
    margin-top: 60px;
}

.product-taxonomy-box {
    width: 615px;
    height: 410px;
    display: inline-block;
    vertical-align: top;
    margin: 0px 15px;
}

.product-taxonomy-box-green {
    background: #819b8d;
}

.product-taxonomy-box-left-title {
    font-size: 35px;
    color: #ffffff;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.product-taxonomy-box-right-title {
    font-size: 35px;
    color: #ffffff;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.product-taxonomy-box form {
    width: 450px;
    margin: 0 auto;
}

.product-taxonomy-box form input[type='text'] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    height: 46px;
    border-radius: 6px;
    line-height: 46px;
    background: #ffffff;
    padding: 0px 12px;
    color: #666666;
    outline: none;
    margin-bottom: 15px;
}

.product-taxonomy-box form select {
    width: 100%;
    box-sizing: border-box;
    border: none;
    height: 46px;
    border-radius: 6px;
    line-height: 46px;
    background: #ffffff;
    padding: 0px 12px;
    color: #666666;
    outline: none;
    margin-bottom: 30px;
}

.product-taxonomy-box .lead {
    padding-top: 35px;
}

.product-taxonomy-box-description {
    width: 540px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 200;
    font-style: italic;
    color: #ffffff;
    line-height: 35px;
    margin-bottom: 25px;
    overflow: hidden;
}

.product-taxonomy-box-center {
    text-align: center;
}

#brochure-download-product-taxonomy-page-error {
    text-align: center;
    font-size: 17px;
    color: #ee3030;
    margin-top: 15px;
    margin-bottom: 15px;
}

#support-introduction-container {
    padding-top: 70px;
    padding-bottom: 60px;
    width: 1260px;
    margin: 0 auto;
}

#support-introduction-title {
    font-size: 35px;
    color: #333333;
    font-weight: 200;
    margin-bottom: 30px;
}

#support-introduction-description {
    column-count: 2;
    column-gap: 80px;
}

#support-introduction-description p {
    font-size: 15px;
    color: #333333;
    line-height: 30px;
}

#support-introduction-description p:first-child {
    margin-top: 0px;
}

#brochures-download-area-error {
    text-align: center;
    font-size: 13px;
    color: #ee3030;
    margin-top: 15px;
    margin-bottom: 15px;
}

#news-pagination {
    text-align: center;
    margin-top: 60px;
}

#news-pagination .page-numbers.next,
#news-pagination .page-numbers.prev {
    height: 46px;
    line-height: 46px;
    border-radius: 5px;
    background: #ff9900;
    font-size: 15px;
    padding: 0px 15px;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
}

#news-pagination .page-numbers {
    height: 46px;
    line-height: 46px;
    border-radius: 5px;
    font-size: 15px;
    padding: 0px 15px;
    color: #b3c3ba;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    text-decoration: underline;
}

#news-pagination .page-numbers.current {
    color: #ff9900;
}

#news-spacing-title {
    height: 20px;
}

.brochure-checkbox-container {
    text-align: center;
}

.brochure-checkbox-box {
    display: inline-block;
    height: 46px;
    line-height: 46px;
    background: #4f745f;
    border-radius: 6px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    padding: 0px 20px;
    margin-top: 20px;
}

.brochure-checkbox-element {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 5px;
}

.brochure-checkbox-text {
    display: inline-block;
    vertical-align: middle;
}

.brochure.inactive .brochure-checkbox-element {
    background: url("./images/close.png") center center no-repeat, #ffffff;
}

.brochure.active .brochure-checkbox-element {
    background: url("./images/checkbox-checked.png") center center no-repeat, #ffffff;
}

#news-search-form {
    height: 46px;
    position: relative;
}

#news-search-input {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    height: 46px;
    width: 100%;
    background: #ffffff;
    border: none;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 50px;
    outline: none;
}

#news-search-submit {
    position: absolute;
    right: 0;
    top: 0;
    height: 46px;
    width: 46px;
    background: url("./images/search.png") no-repeat center center;
    border: none;
}

#contact-form-error {
    text-align: center;
    font-size: 13px;
    color: #ee3030;
    margin-top: 15px;
    margin-bottom: 15px;
}

#contact-form-error:before {
    clear: both;
    display: block;
    content: "";
}

#product-enquiry-form-error {
    text-align: center;
    font-size: 17px;
    color: #ee3030;
    margin-top: 15px;
    margin-bottom: 15px;
}

.anchor-shift{
    top: -130px;
    visibility: hidden;
    position: relative;
    display: block;
}